form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 3px;
    margin: 60px auto;
    background: rgba(230, 41, 41, 0.878);
}
form .field {
    /* width: 30%; */
    padding: 10px;
} 
/* form .field input, form .field select {
    width: 70%;
} */
form input {
    padding: 10px;
}
form input::placeholder {
    font-weight: bold;
    font-family: 'Courier New';
}
form button {
    padding:15px 30px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
}
.submit-wrapper .submit-button{
    display: flex;
    justify-content: center;
    border-radius: 10%;
}
i {
    background-color: lightgray;
    padding: 8px;
    width: 24px;
}

@media (min-width:720px) {
    form {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        margin-bottom: 3px;
        width: 750px;
        margin: 60px auto;
        padding: 45px;
        background: rgba(230, 41, 41, 0.878);
    }
    form .field {
        width: 40%;
        padding: 10px;
    }
    form .field input, form .field select {
        width: 100%;
    }
    form .input-wrapper {
        display: flex;
    }
    form input {
        padding: 10px;
        border: none;
        height: 14px;
    }
    form input::placeholder {
        font-weight: bold;
        font-family: 'Courier New';
    }
    form button {
        padding:15px 30px;
        background-color: black;
        color: white;
        display: flex;
        justify-content: center;
        text-transform: uppercase;
    }
    select {
        height: 36px;
    }
    .submit-wrapper .submit-button{
        display: flex;
        justify-content: center;
        border-radius: 10%;
    }
    i {
        background-color: lightgray;
        padding: 8px;
    }
}
